.main-engagements {
  padding-bottom: 50px;

  @media (min-width: $desktop) {
    margin-top: 160px;
  }
}

.engagements {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: $center;
  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  h1 {
    text-align: $center;
    font-size: $font-size-sub-title;
    margin-top: 20px;
    @media (min-width: $desktop) {
      width: 100%;

      padding: 15px 0 25px 0;
    }
  }
  img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    @media (min-width: $desktop) {
      width: 45%;
      height: 200px;
    }
  }

  h2 {
    font-size: 16px;
  }
}

.text-engagements {
  font-size: $font-size-normal;
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px;
  span {
    font-weight: bold;
  }
}

.sub-title-img {
  @media (min-width: $desktop) {
    width: 32%;

    display: flex;
    flex-direction: column;
    h2 {
      order: 2;
    }
    div {
      order: 3;
    }

    img {
      width: 100%;
    }
  }
}

.label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .label-logos {
    width: 46%;
    height: 100px;
    margin-top: 30px;

    @media (min-width: $desktop) {
      width: 20%;
      height: 130px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    width: 100%;
    text-align: center;
  }
}
