@import "style.scss";

footer {
  text-align: center;
  min-height: 648px;
  padding-bottom: 10px;
  width: 100vw;
  background-color: $color-black;

  @media (min-width: $desktop) {
    min-height: 272px;
    text-align: left;
    padding-bottom: 0;
  }

  .container-footer {
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: column;
    font-size: $font-size-small;

    @media (min-width: $desktop) {
      flex-direction: row;
    }

    .block {
      width: 100%;

      @media (min-width: $desktop) {
        width: 24%;
      }

      li {
        list-style-type: none;
        padding: 8px;

        a {
          color: $color-white;
        }

        img {
          width: 16px;
        }

        &.social {

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            @media (min-width: $desktop) {
              justify-content: flex-start;
            }

            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  p {
    color: white;
    text-align: center;
    font-size: $font-size-tiny-small;

    @media (min-width: $desktop) {
      margin-top: 20px;
    }

    span {
      display: block;

      @media (min-width: $desktop) {
        display: inline;
      }
    }
  }

  .footer-logo {
    width: 90px;
    @media (min-width: $desktop) {
      width: 200px;
    }
  }
}
