@import 'style.scss';



/*header selecter*/

header {
  background-color: $color-white;
  min-height: $min-height-header;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  .header-top {
    background-color: $color-black-second;
    width: 100%;
    height: 32px;
    color: $color-white ;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-upper-discount {
      width: 380px;
      height: 32px;
      display: flex;
      align-items: center;
    }

    .header-upper-cart {
      width: 200px;
      height: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;

      a {
        color: $color-white;
      }
    }
  }

  .header-bottom {
    height: $min-height-header;
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop) {
      height: $max-height-header;
    }

    .header-bottom-logo {
      text-align: center;
      width: 54px;
      position: relative;
      
      a {
        color: $color-blue;
      }

      img {
        width: 100%;
        height: 100%;
      }

      b {
        position: absolute;
        bottom: -2px;
        display: block;
        left: 25%;
      }
    }

    .header-bottom-link {
      width: 135px;
      height: $min-height-header;
      @media (min-width: $desktop) {
        width: 250px;
        height: $max-height-header;
      }

      .mobile-menu {
        justify-content: space-between;
        align-items: center;

        a {
          font-size: 28px;
          position: relative;
          top: 6px;
        }
      }

      .desktop-menu {
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 240px;

        a {
          &:hover{
            span{
              border: 2px solid $color-black-link;
            }
          }
        }

        span{
          display: block;
          border: 2px solid $color-white;
          margin-top: 5px;
          &.active {
            border: 2px solid $color-black-link;
          }
        }

        a {
          font-size: $font-size-normal;
          position: relative;
          top: 6px;
        }
      }
    }
    
  }

  .overlay {
    overflow:hidden;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background: rgba(0, 0, 0, 0.7); 
    transition: opacity 600ms; 
    visibility: hidden; 
    opacity: 0; 
    z-index: 9999;

    &.open {
      visibility: visible; 
      opacity: 1;
    }

    a {
      color: $color-black;
    }

    nav {
      width: $start;
      height: 100%;
      background: url('./../img/bg-mobile.jpg') no-repeat;
      background-size: cover;
      position: absolute;
      right: 0;
      top:0;
      transition: all .6s ease;
      -webkit-transition: all .6s ease;
      transform: translateX(calc($start + 1px));

      @media (min-width: $mobile) {
        width: $mobile;
        transform: translateX(calc($mobile + 1px));
      }
      
      &:not(.open) {
        animation-duration: 0.6s;
        animation-fill-mode: both;
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft
      }

      &:not(.open) {
        visibility: hidden;
        animation-duration: 0.6s;
        animation-fill-mode: backwards;
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft
      }

      &.open {
        animation-duration: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
      }

      .opacity {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.04);

      }

      .menu-burger {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        text-align: center;

        .top {
          text-align: right;
          font-size: 28px;
          margin-top: 10px;
          width: 100%;
        }

        .logo-burger {
          margin-top: -50px;
        }

        ul {
          font-size: 20px;
          line-height: 65px;
          width: 80%;
          margin: auto;
          padding: 20px 0 25px 0;
          border-top: 1px solid $color-black;
          border-bottom: 1px solid $color-black;
        }

        .social-burger {
          margin-top: 25px;
        }

      }

      .menu-shop {
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 28px;
          height: 35px;
          margin-top: 10px;
        }

        .products {
          height: 340px;
          overflow: auto;
          width: 100%;
          margin-top: 40px;

          .content-product {
            width: 100%;
            text-align: left;
            
            tr{
              border-top: 1px solid $color-gray;   
              height: 90px;
              font-size: $font-size-tiny-small;
              padding-bottom: 5px;
              color: $color-gray;

              td {
                div {
                  width: 100%;
                  margin-left: 5px;
                }

                .title {
                  font-weight: bold;
                  color: $color-black;
                  font-size: $font-size-normal;
                }

                span {
                  display: block;
                }

                &.img {
                  width: 20%;
                  img {
                    width: 100%;
                    border-radius: 50px;
                    border: 1px solid black;
                  }
                }

                &.features {
                  width: 40%;
                }

                &.price {
                  width: 30%;
                  position: relative;

                  .mount {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                  }

                  a {
                    color: $color-black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 24px;
                    height: 23px;
                    border: 2px solid $color-black; 
                    font-size: $font-size-sub-title;
                    font-weight: bold;
                    z-index: 20;
                  }
                }
              }
            }         
          }
        }

        .bottom {
          position: fixed;
          bottom: 20px;
          height: 125px;
          left: 12px;
          width: 292px;

          @media (min-width: $mobile) {
            left: 23px;
            width: 315px;
          }

          .btn {
            margin: 21px auto;
          }

          .sub-total {
            width: 100%;
            text-align: left;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;

            tr{
              border-bottom: 1px solid $color-gray;

              th{
                &.p-b {
                  padding-top: 10px;
                }

                &.right {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}