main {
  margin-top: 78px; //en attendant première slide
  section {
    .title {
      width: 100%;
      height: 100px;
      background-color: $color-blue-secondary;
      color: $color-white;
      text-align: center;
      font-family: $font-title;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: $font-size-menu;
      font-weight: bold;

      @media (min-width: $desktop) {
        height: 150px;
      }

      .discount-title {
        font-size: $font-size-title;
        line-height: 70px;
      }
    }

    article {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media (min-width:$mobile-image){
        flex-direction: row;
        justify-content: space-between;
        height: 82vh;
      }

      .flex-center {
        width: 100%;
        @media (min-width:$mobile-image){
          width: 50%;
          height: 100%;
        }
        
      }

      .infos-m {
        background: url("../img/tisser.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/tisser-small.jpg") no-repeat;
          background-size: cover;
      }
    }

      .models-m {
        background: url("../img/model_3.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/model_3-small.jpg") no-repeat;
        background-size: cover;
      }
      }
      .infos-e {
        background: url("../img/machine_a_laver.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/machine_a_laver-small.jpg") no-repeat;
        background-size: cover;
      }
      }
      .models-e {
        background: url("../img/model_2.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/model_2-small.jpg") no-repeat;
        background-size: cover;
      }
      }
      .infos-g {
        background: url("../img/champ-de-coton.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/champ_de_coton-small.jpg") no-repeat;
        background-size: cover;
      }
      }
      .models-g {
        background: url("../img/model_1.png") no-repeat;
        background-size: cover;
        @media (min-width:$mobile-image){
          height: 376px;
          background: url("../img/model_1-small.jpg") no-repeat;
        background-size: cover;
      }
      }
      .square {
        width: 65%;
        height: 32%;
        background-color: rgba(245, 237, 237, 0.8);
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          margin-left: 20px;
        }

        p {
          width: 65%;

          span {
            display: block;
            font-weight: bold;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
