.container-product-boxer {
  display: flex;
  height: auto;
  width: auto;
  text-align: $center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-product-boxer-white {
  width: 50%;
  // background-size: ;
  width: 360px;
  height: 248px;
  position: relative;
  @media (min-width: $desktop) {
    height: 268px;
  }

  img {
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transform: scale(1);
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    &.active {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 1;
    }

  }
}

.product-main {
  margin-top: 90px;
  margin-bottom: 50px;
  @media (min-width:$desktop) {
    margin-top: 120px;
    margin-bottom: 50px;
  }
}

.boxer-name {
  
  text-align: center;
  padding-top: 2%;
  text-transform: uppercase;
  @media (min-width:$desktop) {
    text-align: left;
    margin-left: 6%;
  }
}

$radioSize: 20px;

.radio {
  margin: 16px 0;
  display: flex;
  cursor: pointer;
  input {
    display: none;
    & + span {
      line-height: $radioSize;
      height: $radioSize;
      padding-left: $radioSize;
      display: block;
      position: relative;
      &:not(:empty) {
        padding-left: $radioSize + 8;
      }
      &:before,
      &:after {
        content: "";
        width: $radioSize;
        height: $radioSize;
        display: block;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
      }
      &:before {
        background: $color-gray;
        transition: background 0.2s ease,
          transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
      }
      &:after {
        background: $color-white;
        transform: scale(0.78);
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
      }
    }
    &:checked + span {
      &:before {
        transform: scale(1.04);
        background: $color-blue-secondary;
      }
      &:after {
        transform: scale(0.4);
        transition: transform 0.3s ease;
      }
    }
  }
  &:hover {
    input {
      & + span {
        &:before {
          transform: scale(0.92);
        }
        &:after {
          transform: scale(0.74);
        }
      }
      &:checked + span {
        &:after {
          transform: scale(0.4);
        }
      }
    }
  }
}

.choix-size {
  select {
    @media (min-width:$desktop) {
      width: 180px;
    }
  }
}

.container-product-boxer {
  h1 {
    font-size: $font-size-menu;
    text-align: center;
  }
}
.radio.white-button ::after {
  background-color: white;
}
.radio.red-button ::after {
  background-color: red;
}
.radio.blue-button ::after {
  background-color: rgb(27, 12, 109);
}
.radio.black-button ::after {
  background-color: black;
}
.choice {
  display: flex;
  flex-direction: column;
}
.increment {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.increment-number {
  margin: 10%;
  input {
    width: 50px;
    margin: 0;
    padding:0;
    text-align: center;
    height: 30px;
  }
}
.total-product {
  display: flex;
  width: auto;
  height: 15%;
  justify-content: flex-end;
}

.button_cont {
  width: 100%;
  @media (min-width:$desktop) {
    width: 410px;
  }
}

.button-total-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  width: 100%;

  .btn {
    min-width: 160px;
    display: inline-block;
    @media (min-width:$desktop){
      min-width: 200px;
    }
  }
}

.size-selection {

}

.content-prod {
  position: relative;
}

.total {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid $color-black-link;
  margin: 10px 0 10px 0;
  @media (min-width:$desktop) {
    width: 80%;
  }
}

.descript {
  width: 100%;
  @media (min-width:$desktop) {
    width: 80%;
  }
}

.buy {
  color: $color-white;
  text-decoration: none;
  background: $color-blue-secondary;
  padding: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  text-align: center;
}
.buy:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.money {
  font-size: $font-size-sub-title;
}
.positiveButton,
.negativeButton {
  color: $color-white;
  background-color: $color-blue-secondary;
  height: 30px;
  width: 50px;
  text-align: center;
  border: none;
}
.positiveButton:hover,
.negativeButton:hover {
  background-color: $color-black-link;
}


details {
	margin-bottom: 20px;
	width: 100%;
}

details p {
	padding: 5px 20px 10 20px;
}

summary {
	padding: 15px 20px 15 20px;
	background-color: $color-blue-secondary;
	border: 1px solid $color-blue-secondary;
  outline: none;
  font-weight: bold;
  color: $color-white;
  cursor: pointer;
}

summary:hover,
summary:focus {
	border: 1px solid lightslategray;
}

details[open] summary {
	background-color: lightslategray;
	border: 1px solid lightslategray;
}

details[open] {
	background: #fff;
}