.shop-main {
  &.modify {
    .start-shop{
      opacity: 0;
      -webkit-transform: translateY(-100%) scale(0.9);
      transform: translateY(-100%) scale(0.9);
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, transform;
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 1.2s;
      transition-duration: 1.2s;
    }
    
    .content-shop {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, transform;
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 1.2;
      transition-duration: 1.2s;
      overflow-x: hidden;

      .title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        -webkit-transition-duration: 1.2;
        transition-duration: 1.2s;
      }
    }

  }

  .content-shop {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0;

    .title {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
    }
  }
}


.mystyle-products {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media (min-width: $desktop) {
    flex-direction: row;
    
  }
  &.slider-products {
    .product {
      width: auto;
      margin-bottom: 0;
    }

  }

  .product {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    background: #fff;
    @media (min-width: $desktop) {
      margin-left: 15px;
      width: 27.5%;
    }

    .cadre {
      width: 100%;
      height: 75%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      transition-property: transform;
      -webkit-transition-duration: 1.6s;
      transition-duration: 1.6s;
      transform: translateY(0) scale(1);
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      z-index: 7;

      img {
        transform: translateY(-120px) scale(2);
      }

    }

    h3 {
      font-size: $font-size-normal;
      line-height: 20px;
      margin-top: 10px;
      overflow: hidden;
      @media (min-width: $desktop) {
        height: 39px;
      }
    }

    > a {
      position: relative;
      display: block;
      color: $color-black-second;

      &:hover {
        text-decoration: none;
      }

    }

    
    .price {
      font-size: $font-size-menu;

      ins {
        text-decoration: none;
        font-weight: 700;
        white-space: nowrap;
      }

      del {
        color: $color-black-link;
        font-size: $font-size-tiny-small;
        padding-right: 7px;
        white-space: nowrap;
      }

      .sale-tag {
        color: $color-red;
        font-size: $font-size-normal;
        padding-left: 7px;
        font-weight: 700;
      }

    }

  }

  .onsale {
    z-index: 6;
    position: absolute;
    top: 15px;
    left: -20px;
    padding: 2px 10px;
    background: $color-red;
    color: $color-white;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .3);
    border-radius: 0 5px 5px 0;
    height: 25px;
    line-height: 25px;
    font-size: 0.8rem;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;

    &:before, &:after {
      content: "";
      position: absolute;
    }

    &:before {
      width: 7px;
      height: 33px;
      top: 0;
      left: -6.5px;
      padding: 0 0 7px;
      background: inherit;
      border-radius: 5px 0 0 5px;
    }

    &:after {
      width: 5px;
      height: 5px;
      bottom: -5px;
      left: -4.5px;
      background: darken($color-red, 20%);
      border-radius: 5px 0 0 5px;
    }
  }
}

#height {
  width: 100%;
  height: 800px;
}