@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap");


/*variable*/

$font-title: "Rajdhani", sans-serif;
$font: "Poppins", sans-serif;
$center: center;
$font-size-title: 36px;
$font-size-title-mobile: 25px;
$font-size-sub-title: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-menu: 16px;
$font-size-tiny-small: 10.5px;
$color-red: red;
$color-black: #000000;
$color-gray: #828282;
$color-black-second: #333333;
$color-black-link: #4f4f4f;
$color-cart-grey: #cccccc;
$color-white: #ffffff;
$color-green: #2c9013;
$desktop: 767px;
$mobile-image: 1050px;
$mobile-inter: 530px;
$mobile: 360px;
$min-height-header: 53px;
$max-height-header: 65px;
$color-blue: #2c3e50;
$color-blue-secondary: #4390da;
$start: 320px;

@import "normalize.css";
@import "header.scss";
@import "homepage.scss";
@import "engagement.scss";
@import "cart.scss";
@import "partenaires.scss";
@import "product.scss";
@import "shop.scss";
@import "footer.scss";

body {
  font-family: $font;
  font-size: $font-size-small;
  letter-spacing: 1.4px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  line-height: 20px;
  overflow-x: hidden;

  @media (min-width:$desktop){
    font-size: $font-size-normal;
    line-height: 26px;
  }
}

.block-mobile {
  display: block;
  @media (min-width: $desktop) {
    display: none;
  }
}

.block-desktop {
  display: none;
  @media (min-width: $desktop) {
    display: block;
  }
}

.block-desktop-large {
  display: none;
  @media (min-width: $mobile-image) {
    display: block;
  }
}

.flex-mobile {
  display: flex;
  @media (min-width: $desktop) {
    display: none;
  }
}

.flex-desktop {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  @media (min-width:$desktop){
    justify-content: center;
  }
}

.hidden {
  visibility: hidden;
}

.hide{
  display: none;
}

.container {
  width: 94vw;
  margin: auto;

  @media (min-width: $desktop) {
    width: 85vw;
  }
}

.container-menu {
  width: 94%;
  margin: auto;
  @media (min-width: $desktop) {
    width: 325px;
  }
}

.btn {
  display: block;
  padding: 10px 24px 21px 21px;
  min-width: 136px;
  max-width: 200px;
  height: 44px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
  
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

  @media (min-width: $desktop) {
    padding: 10px 24px 32px 21px;
  }
}

.btn-secondary {
  background: $color-blue-secondary;
  border: 2px solid $color-blue-secondary;
  color: $color-white;
}

.btn-primary {
  background: $color-blue;
  border: 2px solid $color-blue;
  color: $color-white;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-black-link;

  &.btn {
    color: $color-white !important;
  }
}

table {
  border-collapse: collapse;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX($start);
    transform: translateX($start);
    @media (min-width: $mobile) {
      -webkit-transform: translateX($mobile);
      transform: translateX($mobile);
    }
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX($start);
    transform: translateX($start);
    @media (min-width: $mobile) {
      -webkit-transform: translateX($mobile);
      transform: translateX($mobile);
    }
  }
}


@keyframes down-one {
  0%  {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  10% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
  100%{
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
}

@-webkit-keyframes down-one {
  0%  {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  10% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
  100%{
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
}

@keyframes down-two {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  50% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  60% {
    -webkit-transform:translateY(0);
    transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);
    transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
}

@-webkit-keyframes down-two {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  50% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  60% {
    -webkit-transform:translateY(0);
    transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);
    transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.animated {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.lightSpeedIn {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
 }
}


  input, select {
    width: 300px;
    height: 46.6px;
    background: $color-white;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
  }

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
