@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/*variable*/
$font: "Poppins";
$center: center;
$font-size-title: 48px;
$font-size-sub-title: 22px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-tiny-small: 10.5px;
$color-red: red;
$color-black: #333333;
$color-black-link: #4f4f4f;
$color-white: #ffffff;
$color-green: #2c9013;
$desktop: 1050px;

body {
  font-family: $font;
  font-size: $font-size-normal;
}

.container {
  width: 80vw;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
}
